/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/isoseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

resume = true
workDir = './nextflow_work'

params {
    config_profile_name        = 'Test profile - Bamtools convert entrypoint'
    config_profile_description = 'Minimal test dataset to check bamtools_convert entrypoint function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input           = "${launchDir}/testdata/samplesheet_bamtools_convert_entrypoint_local.csv"
    outdir          = "${launchDir}/testdata_results/test_bamtools_convert_entrypoint"
    primers         = "${launchDir}/testdata/primers.fasta"
    fasta           = "${launchDir}/testdata/reference/Homo_sapiens.GRCh38.dna.chromosome.19.fasta"
    chunk           = 40
    five_prime      = 100
    splice_junction = 10
    three_prime     = 100
    capped          = true
    aligner         = 'minimap2'
    entrypoint      = 'bamtools_convert'
}
docker {
    runOptions = '--platform linux/amd64'
}
