/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (ULTRA + lima entrypoint)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Minimal test dataset to check pipeline function using ULTRA aligner and lima entrypoint.

*/

params {
    config_profile_name        = 'Test profile - ULTRA path - Entrypoint lima'
    config_profile_description = 'Minimal test dataset to check pipeline function (ultra + lima)'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input           = 'https://raw.githubusercontent.com/SiYangming/isoseq.nf/testdata/samplesheet_lima_entrypoint.csv'
    primers         = 'https://raw.githubusercontent.com/nf-core/test-datasets/isoseq/testdata/primers.fasta'
    fasta           = 'https://raw.githubusercontent.com/nf-core/test-datasets/isoseq/reference/Homo_sapiens.GRCh38.dna.chromosome.19.fasta'

    chunk           = 100
    five_prime      = 100
    splice_junction = 10
    three_prime     = 100
    capped          = true

    aligner         = 'ultra'
    entrypoint      = 'lima'
}
