/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests (ULTRA + lima entrypoint)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Minimal test dataset to check pipeline function using ULTRA aligner and lima entrypoint.

*/

resume = true
workDir = './nextflow_work'

params {
    config_profile_name        = 'Test profile - ULTRA path - Entrypoint lima'
    config_profile_description = 'Minimal test dataset to check pipeline function (ultra + lima)'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input           = "${launchDir}/testdata/samplesheet_lima_entrypoint_local.csv"
    //outdir        = "${launchDir}/testdata_resuts/test_ultra_lima_entrypoint"
    primers         = "${launchDir}/testdata/primers.fasta"
    fasta           = "${launchDir}/testdata/reference/Homo_sapiens.GRCh38.dna.chromosome.19.fasta"
    gtf             = "${launchDir}/testdata/reference/Homo_sapiens.GRCh38.104.chr.13_18_19.gtf"

    chunk           = 40
    five_prime      = 100
    splice_junction = 10
    three_prime     = 100
    capped          = true

    aligner         = 'ultra'
    entrypoint      = 'lima'
}
docker {
    runOptions = '--platform linux/amd64'
}
